<section>
  <h2>{{ .heading }}</h2>
  {{ with .body }}<p>{{ . }}</p>{{ end }}
  {{ partial "bullet-list.html" .points }}
  {{ range .subsections }}
    <div>
      {{ with .heading }}
        <div class="heading-line">
          <h3>{{ .label }}</h3>
          <h3>
            {{ .startdate }} -
            {{ if .enddate }}{{ .enddate }}{{ else }}Current{{ end }}
          </h3>
        </div>
      {{ end }}
      {{ range .degrees }}
        <p>
          <em>{{ . }}</em>
        </p>
      {{ end }}
      {{ partial "bullet-list.html" .points }}
    </div>
  {{ end }}
</section>
